# Python Keywords
* **Reserved** words in Python
* cannot use a keyword as a **variable** name, **function** name or any other identifier
* define the **syntax** and **structure**
* case **sensitive**.
* **35** keywords in 3.10.x

In [ ]:
    False      await      else       import     pass
    None       break      except     in         raise
    True       class      finally    is         return
    and        continue   for        lambda     try
    as         def        from       nonlocal   while
    assert     del        global     not        with
    async      elif       if         or         yield

# Python Identifiers

* **Name** given to entities :
* **class**, **functions**, **variables**, etc

###### Valid identifiers

In [ ]:
    x = 100               def lower_case(): …                       class MyClass: …

    name = “Info”         AdDreSseS= [“kathmandu”, “lalitpur”]      _person = {"name":"Ram", "address": "ktm"}

    aaa=(‘x’,”y”)         Var1 = 22.5                               PI = 3.14

### Rules for writing identifiers
1. lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _ <br>
        eg. myVar, var_1 and test_variable, var1, _var ✅
2. cannot start with a digit. <br>
        eg. 1var ❌
3. Keywords cannot be used as identifiers. <br>
        eg. for = 1 ❌
4. cannot use special symbols like !, @, <br>
        eg. a@ = 100 ❌
5. can be of any length. <br>
        jlkdsahf_sdhfjsdh_sdjkhfsd_sdfhsdkh_sdfhsdkj_ ✅

# Python Statement
* Instruction that can be executed by Python

### Example:

In [ ]:
    a = 1                   if True: ...            for i in range(10): ...          x = 1 + 2


    s = 1 + 2 + 3 + \       y = ( 5 + 7 * 8 +       a = 1; b = 2; c = 3
        4 + 5 + 6 + \           9 / 2 - 7 *
        7 + 8 + 9               100 + 1)

# Python Indentation
* C, C++, and Java use braces { }
* Python, however, uses indentation

### Example

In [ ]:
age = 17

if age < 18:
    print("Unauthorized") # indentation

# Python Comments
* describe what is going on inside a program
* hash (#) symbol is used

### Example

In [ ]:
# This is a comment
# print out Hello world
print('Hello world')

# Python Docstrings
* documentation string
* appear right after the definition of a function, method, class, or module.

### Example

In [ ]:
def square(num):
    """Function to find square of the value"""
    return num**2

# Python Variables
* container that holds value
* named location used to store data in the memory

### Example

In [ ]:
country = "Nepal" # string
number = 1 # integer
f_number = 1.5 # float
c_number = 1 + 6j # complex
x, y, z = 1, 2.5, "Python"
a = b = c = "test"

# Constant
* variable whose value cannot be changed
* written in all capital letters and underscores separating the words.

### Example

In [ ]:
PI = 3.14
GRAVITY = 9.8

# Rules and Naming Convention for Variables and constants
1. Constant and variable names should have a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

    For example:

    ```python
    snake_case=1
    MACRO_CASE=3.2
    camelCase="test
    CapWords="HELLO"
    ```
            
2. Create a name that makes sense. <br>
    
    For example:
  **radius** makes more sense than r. <br>


3. If you want to create a variable name having two words, use underscore to separate them. For example:
    ```python
    my_name
    current_salary
    ```
4. Use capital letters possible to declare a constant. For example: <br>
    ```python
    PI=3.14
    GRAVITY=9.8
    MASS=66
    SPEED_OF_LIGHT=3.14e16
    TEMP=17
    ```
5. Never use special symbols like !, @, #, $, %, etc. <br>


6. Don't start a variable name with a digit.

# Literals
* raw data given in a variable or constant

## Numeric Literals
* are immutable (unchangeable)
* Integer, Float, and Complex

### Example

In [ ]:
a = 0b1010 # Binary Literals => 2 digits 0,1
b = 100 # Decimal Literal => 10 digits 0-9
c = 0o310 # Octal Literal => 8 digit 0-7
d = 0x12cd # Hexadecimal Literal => 16 digit 0-9 a-f

# Float Literal
float_1 = 10.5
float_2 = 1.5e2

# Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)

10 100 200 4813
10.5 150.0
3.14j 3.14 0.0

Output:

```python
10 100 200 300
10.5 150.0
3.14j 3.14 0.0
```

# String literals
* sequence of characters surrounded by quotes
* can use both single, double, or triple quotes

### Example

In [ ]:
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

Output:

```python
This is Python
C
This is a multiline string with more than one line code.
Ünicöde
raw \n string
```

# Boolean literals
* True or False

### Example

In [ ]:
x = (1 == True)
y = (1 == False)
a = True + 4
b = False + 10

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

Output
```python
x is True
y is False
a: 5
b: 10
```

# Special literals
* None

### Example

In [ ]:
drink = "Available"
food = None

def menu(x):
    if x == drink:
        print(drink)
    else:
        print(food)

menu(drink)
menu(food)

Output:
```python
Available
None
```

# Literal Collections
* four different literal collections
* List literals, Tuple literals, Dict literals, and Set literals.

### Example

In [ ]:
fruits = ["apple", "mango", "orange"] #list
numbers = (1, 2, 3) #tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'} #set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

Output:
```python
['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'e', 'a', 'o', 'i', 'u'}
```

# Python Data Types
* Every value in Python has a datatype.
* Everything is an object in Python programming
* Data types are actually classes and variables are instance (object) of these classes.

## Python Numbers
 * int, float and complex classes

### Example

In [ ]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

### Note
1. **Integers**: can be of any length (limited by the memory available)
2. **Float**: accurate up to 17 decimal places
3. **Complex numbers**: $x + yj$ where x is the real part and y is the imaginary part

In [ ]:
a = 1234567890123456789 # integer
b = 0.1234567890123456789 # float
c = 1+2j # complex

## Python List
* ordered sequence of items
* items in a list do not need to be of the same type
* mutable, meaning, the value of elements of a list can be altered
* defined within square bracket [ ]

Example:

```python
a = [1, 2.2, 'python']
```

# Python Tuple
* ordered sequence of items same as a list
* immutable, meaning, the value of elements of a list cannot be altered
* used to write-protect data
* usually faster than lists
* defined within parentheses ()

Example:
```python
t = (5,'program', 1+3j)
```

# Python Strings
* sequence of Unicode characters
* can use single quotes or double quotes
* Use ''' or """ for multiline

In [ ]:
s = "This is a string"
print(s)
s = '''A multiline
string'''
print(s)

This is a string
A multiline
string

# Python Set
* **unordered** collection of **unique** items
* defined within parentheses { }

In [ ]:
a = {5,2,3,1,4}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

a =  {1, 2, 3, 4, 5}
<class 'set'>

# Python Dictionary
* unordered collection of key-value pairs (less Python version: 3.6)
* order is maintained after python3.6
* used when we have a huge amount of data
* optimized for retrieving data
* defined within braces { } with each item being a pair in the form key:value
* Key and value can be of any type.

In [ ]:
d = {1:'value','key':2}

print(d)
print(type(d))

{1: 'value', 'key': 2}
<class 'dict'>

## Conversion between data types
* We can convert between different data types by using different type conversion functions like int(), float(), str(), etc.

In [ ]:
float(5)

5.0

#### Conversion from float to int will truncate the value (make it closer to zero).

In [ ]:
int(10.6)

10

In [ ]:
int(-10.6)

-10

#### Conversion to and from string must contain compatible values.

In [ ]:
float('2.5')

2.5

In [ ]:
str(25)

'25'

In [ ]:
int('1p')

ValueError: invalid literal for int() with base 10: '1p'

#### We can even convert one sequence to another.

In [ ]:
set([1,2,3])

{1, 2, 3}

In [ ]:
tuple({5,6,7})

(5, 6, 7)

In [ ]:
list('hello')

['h', 'e', 'l', 'l', 'o']

#### To convert to dictionary, each element must be a pair:

In [ ]:
dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [ ]:
dict([(3,26),(4,44)])

{3: 26, 4: 44}