In [2]:
print("Hello World")

Hello World

In [9]:
x = 1 #x=> variable which contains integer
y = 5
print ("sum")
sum = x + y # we are adding both variables which contain integer value
print(sum)

sum
6

In [11]:
x=5.5 # float
y = 2 # integer
sum = x+y # float
x+y

7.5

In [13]:
#we can not name variables which are in reserved or python keywords in variables

In [18]:
#variables are case sensetive
name = 'Ram'
NAME = 'ram'

In [23]:
x = (1+2+3+4+5+6+7+8+9
    +9+8+9+86+3+5+5+
    2+7+4+4+4+44+2+2+
    5+5+5+8+8+5+4+4+5
    +54+5+9+6+5+8+7+4
    +9+4+5+5+5+
    5+5+5+9+100)
print(x) # we can put enter to make easy to read and we have to put brackets in starting and middle

538

In [24]:
a=1
b=2 
c=3

In [26]:
a=1 ; b=2 ; c=3; #use semicolons; to print in same line
print(a,b,c)

1 2 3

In [27]:
a=2
b=2
c=2

In [28]:
a=b=c=2 # to print all same equal values in same line 
print(a,b,c)

2 2 2

In [30]:
age = 17
if age< 18:
    print("Unauthorized") #indentation ( print should not be alingned to first line, some gap should be given. 4space or 2 tab but tab is preferable

Unauthorized

In [34]:
def square(num):
    """Function to find square of the value""" #docstring
    return num **2

In [35]:
square(7)

49

In [37]:
7**2 # we can use both both ** is most easy to find power off

49

#data types
country = "Nepal" #string
number = 1 # integer
f_number = 2.5 #flaot
c_number = 1+6j #complex

In [41]:
x=1
y=2
z=3

In [42]:
x, y, z =1, 2, 3
print(x, y, z)

1 2 3

In [47]:
gravity = 9.8

In [46]:
GRAVITY = 9.8 #to denote constant, we write variables in UPPER case

In [49]:
a = 0b1010 #Binary Literals => 2 digits 0,1
b = 100 # Decimal Literal => 10 digits 0-9
c = 0o310 #Octal literal => 8 digits 0-7
d=0x12cd #Hexadecimal Literal=> 16 digit 0-9 a-f

#answer shows you in decimal 

print(a,b,c,d)

10 100 200 4813

In [51]:
name = 'ram'
name = "ram"
name = """ram"""
name = '''ram'''  #these all strings are valid

In [53]:
name = 'my name is ram. I am from ktm' # to ptint in same name
print (name)

my name is ram. I am from ktm

In [54]:
name = '''my name is ram.
I am from ktm''' # multi line string ''' to print in multi lines
print (name)

my name is ram.
I am from ktm

In [56]:
name = 'my name is ram. \nI am from ktm' # to ptint in multi lines while we put variables in same line
print (name)

my name is ram.
I am from ktm

In [59]:
name = 'my name is ram. \nI am\tfrom ktm' # we use \t to print tab where ever we need
print(name)

my name is ram.
I am	from ktm

In [61]:
name = 'my name is ram. \\nI am \\tfrom ktm' 
print(name)

my name is ram. \nI am \tfrom ktm

In [64]:
name = r'my name is ram. \\nI am \\tfrom ktm' #to make readable we use r in starting
print(name)

my name is ram. \\nI am \\tfrom ktm

In [65]:
x= True # boolean
y= False # boolean
print (x,y)

True False

In [66]:
fruits = ["apple", "mango", "orange"] #list []
numbers = (1, 2, 3) #tuple()
vowels = {'a', 'e', 'i', 'o', 'u'} # set

print(fruits)
print(numbers)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a', 'u', 'o', 'e', 'i'}

In [69]:
person = {
    "name":"ram",
    "address":"ktm", 
    "contact": 92348565,
    "gender":"male"
}
#dictionary => key : value where name is key and ram is value
print(person)

{'name': 'ram', 'address': 'ktm', 'contact': 92348565, 'gender': 'male'}