In [ ]:
username = input("Enter the username : ")
password = input(" Enter the password : ")


if username == 'admin' and password == 'admin123' :
    print("successfully logged in")  
else : 
    role = input("Enter the role : ")
    if role == 'superadmin': 
        print("successfully logged in :")
    else :
        print('log in failed') #nested else if

In [1]:
username = input("Enter the username : ")
password = input(" Enter the password : ")

if username == ('admin' and password == 'admin123') :
    print("successfully logged in")  
else : 
    confirm = input( " Do you want to access through your role ? Type y or yes to continue: ")
    if confirm.lower() in ["y", "yes"]: #.lower() garda list ma vayeko words capital, small ma type huda pani manxa
        role = input("Enter the role : ")
        if role == 'superadmin': 
            print("successfully logged in ")
        else : print("log in failed")    
            
   else :
        print('log in failed....')

#nested if else

Enter the username :  anfj
 Enter the password :  anfjd
 Do you want to access through your role ? Type y or yes to continue:

log in failed....

In [1]:
marks_Social = float(input("Enter marks of Social  : "))
marks_Math = float(input("Enter marks of Math  : "))
marks_Science = float(input("Enter marks of Science  : "))
marks_English = float(input("Enter marks of English  : "))
marks_Nepali = float(input("Enter marks of Nepali  : "))
marks_Math_2 = float(input("Enter marks of Math_2  : "))
marks_GK = float(input("Enter marks of GK  : "))
marks_Computer_Science = float(input("Enter marks of Computer_Science  : "))

total_marks = marks_Social + marks_Math + marks_Science + marks_English + marks_Nepali + marks_Math_2 + marks_GK + marks_Computer_Science
percentage_achieved = (total_marks/800) * 100
print(percentage_achieved)


if percentage_achieved  >= 80 :
    print("distinction")
elif percentage_achieved  >= 60 :
    print("first division")  
elif percentage_achieved  >= 50 :
    print("second division")
elif percentage_achieved  >= 35 :
    print("third division")
else:
    print("fail")

Enter marks of Social  :  90
Enter marks of Math  :  100
Enter marks of Science  :  88
Enter marks of English  :  98
Enter marks of Nepali  :  48
Enter marks of Math_2  :  35
Enter marks of GK  :  98
Enter marks of Computer_Science  :  99

82.0
distinction

In [6]:
x = [1, 2, 3, 4, 5]
print(x[1], x[2])

2 3

In [7]:
x = [1, 2, 3, 4, 5] #for loop
for i in x:
    print(i)

1
2
3
4
5

In [10]:
x = [1, 2, 3, 4, 5] # sum in loop
sum = 0

for i in x :
    sum = sum + i
print(sum)

15

In [13]:
x = [1, 2, 3, 4, 5] # sum in loop
sum = 0

for i in x :
    sum += i
print(sum)

15

In [12]:
x = [1, 2, 3, 4, 5] # mul in loop
multiplication = 1

for i in x :
    multiplication = multiplication * i
print(multiplication)

120

In [15]:
x = [1, 2, 3, 4, 5] # multiply in loop
mul = 1

for i in x :
    mul *= i
print(mul)

120

In [18]:
x = [1, 2, 3, 4, 5] # power value  in loop

for i in x :
    print(i ** 2)

1
4
9
16
25

In [21]:
x = [1, 2, 3, 4, 5] # sum in loop

output = [] #to print values in list, suru ma empty list create garne output vanera
#

for i in x :
    output.append(i**2)
print(output)

[1, 4, 9, 16, 25]

In [22]:
x = [1, 2, 3, 4, 5] # to print the numbers are odd or even

output = []

for i in x:
    if i % 2== 0 :
        output.append("even") #(("even, i")) to print even and number also
    else:
        output.append("odd") #(("odd, i"))
print(output)

['odd', 'even', 'odd', 'even', 'odd']

In [2]:
age = int(input("Enter your age : "))

if 1 < age <= 13 :
    print("You are a teenager")
elif 13 < age <= 18: 
    print("You are young")
elif 18 < age <= 25 :
    print( " You are an adult")
elif 25 < age <= 45 :
    print("You are matured")
else :
    print(" You are old enough!")

Enter your age :  32

You are matured

In [7]:
x = [1,2,3,1,6,2,7,11,19,3,8,9,3,9,10,11,12,24,1,2,3,8]

unique_items = [] #duplicate values lai hatayera unique values matra print garna ko lagi in loop

for i in x :
    if i not in unique_items :
        unique_items.append(i)

print(unique_items)

[1, 2, 3, 6, 7, 11, 19, 8, 9, 10, 12, 24]

In [13]:
name = 'ramesh pradhan'

vowels = ''
for i in name : # string bata vowels nikalna
    if i.lower() in ['a', 'e', 'i', 'o', 'u'] :
        vowels += i
        
print(vowels)

aeaa

In [14]:
name = 'ramesh pradhan'

vowels = ''
for i in name : # string bata vowels nikalna
    if i.lower() in 'aeiou' :
        vowels += i
        
print(vowels)

aeaa

In [21]:
name = 'ramesh pradhan' # string bata vowels count nikalna

vowels = 0 #malai value int ma chiayeko ho so vowels 0 rakhne
for i in name : 
    if i.lower() in ['a', 'e', 'i', 'o', 'u'] : 
        vowels += 1
        
print(vowels)

4

In [22]:
marks = {'Alan' : 99, 'Bill' : 55, 'Cory' : 77} 
print(marks.values())

dict_values([99, 55, 77])

In [23]:
marks = {'Alan' : 99, 'Bill' : 55, 'Cory' : 77}

sum = 0

for mark in marks.values() :
    sum += mark 

print(sum)

231

In [32]:
marks = {'Alan' : 99, 'Bill' : 55, 'Cory' : 77}
output = []

for mark in marks.keys() :
    output.append(mark)

print(output)

['Alan', 'Bill', 'Cory']

In [33]:
marks = {'Alan' : 99, 'Bill' : 55, 'Cory' : 77}

print(marks.keys())

dict_keys(['Alan', 'Bill', 'Cory'])

In [46]:
students = ['Alan', 'Bil', 'Ramesh', 'Corry', 'Ram', 'Shyam Bahadur', 'Gita']

updated_dict = {}

for student in students :
    updated_dict.update({student:len(student)})

print(updated_dict)

{'Alan': 4, 'Bil': 3, 'Ramesh': 6, 'Corry': 5, 'Ram': 3, 'Shyam Bahadur': 13, 'Gita': 4}

In [62]:
students = ['Alan', 'Bil', 'Ramesh', 'Corry', 'Ram', 'Shyam Bahadur', 'Gita']

output = {}
i = 0
for student in students:
    output.update({student:i})
    i += 1

print(output)

{'Alan': 0, 'Bil': 1, 'Ramesh': 2, 'Corry': 3, 'Ram': 4, 'Shyam Bahadur': 5, 'Gita': 6}

In [63]:
range(0, 10) #it will print the same

range(0, 10)

In [65]:
list(range(0, 10)) #just like slicing for index

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
list(range(0, 10, 2)) #just like slicing for index #start, stop, step

[0, 2, 4, 6, 8]

In [68]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [69]:
list(range(10,-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [70]:
range(0, 10)

range(0, 10)

In [72]:
for i in range(0, 10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [76]:
students = ['Alan', 'Bil', 'Ramesh', 'Corry', 'Ram', 'Shyam Bahadur', 'Gita']

index = 0

for student in students :
    print(f"{index} => {student}")
    index += 1

0 => Alan
1 => Bil
2 => Ramesh
3 => Corry
4 => Ram
5 => Shyam Bahadur
6 => Gita

In [78]:
students = ['Alan', 'Bil', 'Ramesh', 'Corry', 'Ram', 'Shyam Bahadur', 'Gita']

for i in range(0, len(students)): #range(0, 7) => 0,1,2,....6
    print(f"{i} => {students[i]}")

0 => Alan
1 => Bil
2 => Ramesh
3 => Corry
4 => Ram
5 => Shyam Bahadur
6 => Gita

In [3]:
students = ['Alan', 'Bil', 'Ramesh', 'Corry', 'Ram', 'Shyam Bahadur', 'Gita']

for i in range( len(students)-1, -1, -1): #reverse 
    print(f"{i} => {students[i]}")

6 => Gita
5 => Shyam Bahadur
4 => Ram
3 => Corry
2 => Ramesh
1 => Bil
0 => Alan

In [8]:
us_price = {'milk' : 2.03, 'bread': 2.6, 'butter':2.6}
nep_price= {}

for k, v in us_price.items():
    nep_price.update({k: v * 132.22})
print(nep_price)

{'milk': 268.40659999999997, 'bread': 343.772, 'butter': 343.772}

In [10]:
us_price = {'milk' : 2.03, 'bread': 2.6, 'butter':2.6}
nep_price_tax= {} #with 13 % tax

for k, v in us_price.items():
    nep_price_tax.update({k: v * 132.22*1.13})
print(nep_price)

{'milk': 268.40659999999997, 'bread': 343.772, 'butter': 343.772}

In [23]:
us_price = {'milk' : 2.03, 'bread': 2.6,
            'butter':2.6, 'meat': 5, 'mobile': 500, 
           'television': 340}
below_5= {}
 #to print below $5
for k, v in us_price.items():
    if v <= 5:
        below_5.update({k: v}) 
    
print(below_5)

{'milk': 2.03, 'bread': 2.6, 'butter': 2.6, 'meat': 5}

In [24]:
us_price = {'milk' : 2.03, 'bread': 2.6,
            'butter':2.6, 'meat': 5, 'mobile': 500, 
           'television': 340}
nep_price= {} 

for k, v in us_price.items():
    if v <= 5:
        nep_price.update({k: v * 132.22*1.13})
    else:
        nep_price.update({k:v *132.22 * 1.20})
    
print(nep_price)

{'milk': 303.29945799999996, 'bread': 388.46235999999993, 'butter': 388.46235999999993, 'meat': 747.043, 'mobile': 79332.0, 'television': 53945.76}

In [26]:
us_price = {'milk' : 2.03, 'bread': 2.6,
            'butter':2.6, 'meat': 5, 'mobile': 500, 
           'television': 340}
total_us_price = 0
total_nep_price= 0

for k, v in us_price.items():
    total_us_price += v
    
    if v <= 5:
        total_nep_price += v *132.22 * 1.13
    else:
        total_nep_price += v *132.22 * 1.20

print(f"total nep price : {total_nep_price}")
print(f"total us price : {total_us_price}")

total nep price : 135105.027178
total us price : 852.23

In [27]:
#continue, pass, break === in for loop

In [29]:
age = 17

if age < 17:
    pass #we use pass to write code later, =but if we dont use pass it will generate error

print('hello')

hello

In [30]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
sum = 0
for number in numbers:
    if number == 6:
        pass
    else:
        sum += number

print(sum)

72

In [37]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
sum = 0
for number in numbers:
    if number == 6:
        pass #run all below statements
    sum += number #wrong
    

print(sum)

78

In [34]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
sum = 0
for number in numbers:
    if number != 6:
        sum += number     

print(sum)

72

In [41]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
sum = 0
for number in numbers:
    if number == 6:
        continue #skip the current iterated item mean looped item => does not run any thing
        #below inside for loop
    sum += number   
    
print(sum)

72

In [43]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
sum = 0
for number in numbers:
    if number == 6:
        break #terminate from the loop,if it get 6 just sum upto 6
    sum += number   
    
print(sum)

15

In [47]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
sum = 0
for number in numbers:
    if number < 6:
        sum += number   #without using break loop
    
print(sum)

15

In [51]:
names = ['ram', 'shyam', 'gita', 'sita']
foods = [ 'momo', 'chowmin', 'thuhkpa']
#Double loop or nested loop
#you can nest many loop as you want

for name in names: #ram
    for food in foods: #momo,chowmin, thukpa 
        print(f"{name} eats {food}")

ram eats momo
ram eats chowmin
ram eats thuhkpa
shyam eats momo
shyam eats chowmin
shyam eats thuhkpa
gita eats momo
gita eats chowmin
gita eats thuhkpa
sita eats momo
sita eats chowmin
sita eats thuhkpa

In [52]:
names = ['ram', 'shyam', 'gita', 'sita']
for i in names:
    print(i)

ram
shyam
gita
sita

In [53]:
names = ['ram', 'shyam', 'gita', 'sita'] #while loop

index = 0 #value intialize

while index < len(names) : #condition (0 index is less than 4 0 < 4, 1< 4....)
    print(names[index])
    index += 1 #incrementer or decrementer

ram
shyam
gita
sita

In [56]:
words = ['one', 'two', 'three', 'four', 'five']

index = 0
while index < len(words) : 
    print(words[index], index)
    index += 1

one 0
two 1
three 2
four 3
five 4

In [61]:
numbers= [1,2,3,4,5,6,7,8,9,10,11,12]
index = 0
sum = 0

while index < len(numbers) : 
    
        sum += numbers[index]
        index += 1

print(sum)

78

In [ ]:
#use while loop if you do not know how many times you are iterating or using the loop
#use while loop for doing infinite iteration

In [62]:
age = int(input("Enter your age : "))

while age < 18 :
    age = int(input("Enter your age : "))

Enter your age :  17
Enter your age :  16
Enter your age :  15
Enter your age :  14
Enter your age :  13
Enter your age :  2
Enter your age :  18