In [ ]:
x = 1 # x=> variable ho jasle integer
y = 5 # x=> variable ho jasle integer datatype store gari rako xa

sum = x + y # integer

print(sum)

6

In [ ]:
x = 5.5 # float
y = 2 # integer

sum = x + y # float

print(sum)

7.5

In [ ]:
try = 7

SyntaxError: expected ':' (1267085572.py, line 1)

In [ ]:
xyz = 7

In [ ]:
del = ram

SyntaxError: invalid syntax (1630575255.py, line 1)

In [ ]:
Try = 7

In [ ]:
name = 'ram'

In [ ]:
NAME = 'ram'

In [ ]:
_Hello = 'ram'

In [ ]:
print(_Hello)

ram

In [ ]:
ra@m = '78'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2409475449.py, line 1)

In [ ]:
gravity of earth = 9.8

SyntaxError: invalid syntax (455445857.py, line 1)

In [ ]:
___ram___ = 'ram'

In [ ]:
fadskfjdslk_dsfasdfkjds_asdfjk_ = 87

In [ ]:
asdfhkadsjhfadksj_dsfdsf_ = 9.8

In [ ]:
xyz = 9.8

In [ ]:
gravity = 9.8

In [ ]:
g = 9.8

In [ ]:
gravity_earth = 9.8

In [ ]:
x = 1 + 2 + 3 + 4 + 5 + 7 +1 + 2 + 3 + 4 + 5 + 7 +1 + 2 + 3 + 4 + 5 + 7 +1 + 2 + 3 + 4 + 5 + 7 +1 + 2 + 3 + 4 + 5 + 7 +1 + 2 + 3 + 4 + 5 + 7

In [ ]:
print(x)

132

In [ ]:
x = (1 + 2 + 3 + 4 + 5
+ 7 +1 + 2 + 3 +
     4 + 5 + 7+1 + 2 +
    3 + 4 + 5 + 7 +1 + 2 + 3 + 4 + 5 + 7 +1 + 2 + 3 +
     4 + 5 + 7 +1 + 2 + 3 + 4 + 5 + 7 )

In [ ]:
print(x)

132

In [ ]:
a = 1
b = 2
c = 3

In [ ]:
a = 1 ; b = 2; c = 3;

print(a,b,c)

1 2 3

In [ ]:
a = 2
b = 2
c = 2

In [ ]:
a = b= c = 2

print(a,b,c)

2 2 2

In [ ]:
age = 17

if age < 18:
    print("Unauthorized") # indentation

Unauthorized

In [ ]:
age = 17

if age < 18:
print("Unauthorized") # indentation

IndentationError: expected an indented block after 'if' statement on line 3 (3518112371.py, line 4)

In [ ]:
2 ** 2

4

In [ ]:
2 ** 3

8

In [ ]:
2 ** 4

16

In [ ]:
def square(num):
    # docstring
    """Function to find square of the value"""
    return num ** 2

In [ ]:
square(7)

49

In [ ]:
country = "Nepal" # string
number = 1 # integer
f_number = 1.5 # float
c_number = 1 + 6j # complex

In [ ]:
x = 1
y = 2
z = 3

In [ ]:
x, y, z = 1, 2, 3

print(x, y, z)

1 2 3

In [ ]:
gravity = 9.8

In [ ]:
GRAVITY = 9.8  # constant => uppercase

In [ ]:
a = 0b1010 # Binary Literals => 2 digits 0,1
b = 100 # Decimal Literal => 10 digits 0-9
c = 0o310 # Octal Literal => 8 digit 0-7
d = 0x12cd # Hexadecimal Literal => 16 digit 0-9 a-f

print(a,b,c,d)

10 100 200 4813

In [ ]:
name = 'ram'
name = "ram"
name = """ram"""
name = '''ram'''

In [ ]:
name = 'my name is ram. I am from ktm.'
print(name)

my name is ram. I am from ktm.

In [ ]:
name = 'my name is ram.
I am from ktm.'
print(name)

SyntaxError: unterminated string literal (detected at line 1) (1467642262.py, line 1)

In [ ]:
# multiline string
name = '''my name is ram.
I am from ktm.'''
print(name)

my name is ram.
I am from ktm.

In [ ]:
name = 'my name is ram. \nI am from ktm.'
print(name)

my name is ram.
I am from ktm.

In [ ]:
name = 'my name is ram. \nI am\tfrom ktm.'
print(name)

my name is ram.
I am	from ktm.

In [ ]:
https://www.ssavr.com/

SyntaxError: invalid syntax (4235328489.py, line 1)

In [ ]:
name = "रमेह"
print(name)

रमेह

In [ ]:
print("रमेश")

रमेश

In [ ]:
name = 'my name is ram. \\nI am\\tfrom ktm.'
print(name)

my name is ram. \nI am\tfrom ktm.

In [ ]:
name = r'my name is ram. \nI am\tfrom ktm.'
print(name)

my name is ram. \nI am\tfrom ktm.

In [ ]:
x = True # boolean
y = False # boolean

print(x,y)

True False

In [ ]:
fruits = ["apple", "mango", "orange"] #list
numbers = (1, 2, 3) #tuple
vowels = {'a', 'e', 'i' , 'o', 'u'} #set

print(fruits)
print(numbers)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'u', 'e', 'i', 'a', 'o'}

In [ ]:
person = {
    "name":"ram",
    "address":"ktm",
    "contact":9234324,
    "gender":"male"
}
# dictionary => key : value
print(person)

{'name': 'ram', 'address': 'ktm', 'contact': 9234324, 'gender': 'male'}