In [ ]:
x = 1 # variable => number => integer datatype / datastructure
y = 2 # variable => number => integer datatype / datastructure

sum = x + y # variable => addition

print(sum)

3

In [ ]:
first_name = "ramesh" # string data type
last_name = "pradhan" # string data type

full_name = first_name + last_name # concatenation

print(full_name)

rameshpradhan

In [ ]:
if = '1'
yield = 2

SyntaxError: invalid syntax (3983927147.py, line 1)

In [ ]:
x = 1

print(X) # case sensitive

NameError: name 'X' is not defined

In [ ]:
22x = 'ramesh'

SyntaxError: invalid decimal literal (1861348455.py, line 1)

In [ ]:
first name = "ramesh" # string data type

SyntaxError: invalid syntax (1564582141.py, line 1)

In [ ]:
Ramesh_Pradha12h = 'hello9'

In [ ]:
__Helo_world = 'h'

In [ ]:
he!23 = 32

SyntaxError: invalid syntax (2750018845.py, line 1)

In [ ]:
HELLO_RODL='32'

In [ ]:
x = 1+3+3+5+8+1+3+3+5+8+1+3+3+5+8+1+\
3+3+5+8+1+3+3+5+8+1+3+3+5+8+1+3+3+5+\
8+1+3+3+5+8+1+3+3+5+8

In [ ]:
print(x)

180

In [ ]:
x = (1+3+3+5+8+1+3+3+5+8+1+3+3+5+8+1+
     3+3+5+8+1+3+3+5+8+1+3+3+5+8+1+3+3+5+
     8+1+3+3+5+8+1+3+3+5+8)
print(x)

180

In [ ]:
age = 17

if age < 18:
    print("Unauthorized") # tab => 4 spaces

Unauthorized

In [ ]:
age = 17

if age < 18:
print("Unauthorized") # tab => 4 spaces

IndentationError: expected an indented block after 'if' statement on line 3 (1386160923.py, line 4)

In [ ]:
def hello_world():
    """This function prints hello world...""" # docstring => documentation string
    # hellow ordl 2132k4h23h4kjesfhakjsdhfkj # => comment
    print("Hello world")

In [ ]:
hello_world()

Hello world

In [ ]:
help(hello_world)

Help on function hello_world in module __main__:

hello_world()
    This function prints hello world...

In [ ]:
x =1
y= 2
z = 4

In [ ]:
x, y, z = 1,2,4

In [ ]:
print(x,y,z)

1 2 4

In [ ]:
x =1;y= 2;z = 4
print(x,y,z)

1 2 4

In [ ]:
a=2
b=2
c=2

In [ ]:
a=b=c=2

In [ ]:
gravity = 9.8 # varaible

In [ ]:
GRAVITY = 9.8 # constant
PI = 3.14 # constant

In [ ]:
GRAVITY =9.8

In [ ]:
print(GRAVITY)

9.8

In [ ]:
GRAVITY = 'hello' # dynamically typed language

In [ ]:
print(GRAVITY)

hello

In [ ]:
# c , c++, java => compilled / statically typed language
float gravity = 9.8 # statically type
printf(gravity)

In [ ]:
asdhfkadsasdfadsfd = 9.8
print(asdhfkadsasdfadsfd)

9.8

In [ ]:
gravity = 9.8

In [ ]:
gravity_of_earth = 9.8

In [ ]:
g = 9.8

In [ ]:
# variable, function name => lower_case
# class name => PascalCase

In [ ]:
float_1 = 10.5
float_2 = 1.5e2

print(float_1)
print(float_2)

print(type(float_1))

10.5
150.0
<class 'float'>

In [ ]:
x = 3.14j
print(x)
print(type(x))

3.14j
<class 'complex'>

In [ ]:
x = 1
print(type(x))

<class 'int'>

In [ ]:
# binary => 0, 1 => computer => 2 digits
# octal = > 0..7 => 8 digits
# hexadecimal => 0..9, a-f => 16 digits
# decimal => 0...9 => 10 digits