In [1]:
x = {1, 2, 3, 4, 5} 
print(x)

{1, 2, 3, 4, 5}

In [6]:
print (type(x))

<class 'set'>

In [12]:
x = {1, 2.5, 'ram', 3, 2, 2.5, 1, 2, 1, 'ram'} #jati wota duplicate vaye pani print garda auta matra show garxa
#onlu unique value is stored
#ordering is not maintain
print(x)

{1, 2.5, 2, 3, 'ram'}

In [14]:
x = {1, 2.5, 'ram', 3, 2, 2.5, 1, 2, 1, [1,2,3,4],'ram'}

TypeError: unhashable type: 'list'

In [16]:
#unhashable type = immutable boject cannot be added inside set => list, dictionery
#but tuple can be stored in set

In [20]:
x = {1, 2.5, 'ram', 3, 2, 1, 'ram', (1,2,3)}
print(x)

{1, 2.5, 2, 3, (1, 2, 3), 'ram'}

In [21]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [22]:
x = {1, 2.5, 'ram', 3, 2, 1, 'ram', (1,2,3)}
x.add('hello')

#'hello' is added so set is mutable object

print(x)

{1, 2.5, 2, 3, 'hello', (1, 2, 3), 'ram'}

In [25]:
x = {1, 2.5, 'ram', 3, 2, 1, 'ram', (1,2,3)}
x.clear() #to clear the set
print(x)

set()

In [26]:
x = {1, 2.5, 'ram', 3, 2, 1, 'ram', (1,2,3)}
y = x.copy()

y.add("hello")

print(x)
print(y)

{1, 2.5, 2, 3, (1, 2, 3), 'ram'}
{1, 2.5, 2, 3, 'hello', (1, 2, 3), 'ram'}

In [27]:
tea = {"ram", "hari", "sita"}
coffee = {"geeta", "shyam", "sita"}

tea_or_coffee = tea | coffee # | is used for union mean whole
print(tea_or_coffee)

{'hari', 'geeta', 'ram', 'sita', 'shyam'}

In [28]:
tea = {"ram", "hari", "sita"}
coffee = {"geeta", "shyam", "sita"}

tea_or_coffee = tea.union(coffee) # .union is also used for union mean whole
print(tea_or_coffee)

{'hari', 'geeta', 'ram', 'sita', 'shyam'}

In [30]:
tea = {"ram", "hari", "sita"}
coffee = {"geeta", "shyam", "sita"}

tea_and_coffee = tea & coffee # & is used for intersection mean whole
print(tea_and_coffee)

{'sita'}

In [32]:
tea = {"ram", "hari", "sita"}
coffee = {"geeta", "shyam", "sita"}

tea_and_coffee = tea.intersection(coffee) # .intersection is used for intersection mean whole
print(tea_and_coffee)

{'sita'}

In [33]:
tea = {"ram", "hari", "sita"}
coffee = {"geeta", "shyam", "sita"}

tea_only = tea - coffee
print(tea_only)

{'ram', 'hari'}

In [34]:
coffee_only = coffee - tea
print(coffee_only)

{'geeta', 'shyam'}

In [35]:
tea = {"ram", "hari", "sita"}
coffee = {"geeta", "shyam", "sita"}

tea_only = tea.difference(coffee)
print(tea_only)

{'ram', 'hari'}

In [36]:
coffee_only = coffee.difference(tea)
print(coffee_only)

{'geeta', 'shyam'}

In [37]:
tea = {"ram", "hari", "sita"}
coffee = {"geeta", "shyam", "sita"}

tea_only_or_coffee_only = tea.symmetric_difference(coffee) #coffee matra ra tea matra khane
print(tea_only_or_coffee_only)

{'hari', 'geeta', 'ram', 'shyam'}

In [39]:
x ={1, 2, 2.5, 3, (1,2,3), "ram"} #to add elements in set
x.update([1,8,9,10])
print(x)

{1, 2.5, 3, 2, 8, 9, 10, (1, 2, 3), 'ram'}

In [40]:
x ={1, 2, 2.5, 3, (1,2,3), "ram"}
x.discard(1) #kunai elememnt hatauna
print(x)

{2.5, 3, 2, (1, 2, 3), 'ram'}

In [42]:
x ={1, 2, 2.5, 3, (1,2,3), "ram"}
x.discard(11) #navayeko kura discard garda kei hunna, j set xa tei dekhauxa
print(x)

{1, 2.5, 3, 2, (1, 2, 3), 'ram'}

In [43]:
x ={1, 2, 2.5, 3, (1,2,3), "ram"}
#navayeko kura remove garda error aauxa. x.remove le
x.remove(11)
print(x)

KeyError: 11

In [45]:
x ={1, 2, 2.5, 3, (1,2,3), "ram"}
x.pop() #.opo le jun sukai element hataidinxa
print(x)

{2.5, 3, 2, (1, 2, 3), 'ram'}

In [52]:
x = set() #to make empty set
print(type(x))

<class 'set'>

In [54]:
min([1,3,2,88,22,11])

1

In [55]:
max([1,3,2,88,22,11])

88

In [56]:
sorted([1,3,2,88,22,11])

[1, 2, 3, 11, 22, 88]

In [57]:
len([1,3,2,88,22,11])

6

In [71]:
min = [1,2,3,4,5] # we have created min valriable which can cause error when we call min build in function, see below

del min

In [72]:
min([1,3,2,88,22,11])

1

In [73]:
#so delete min varaiable and run min built in function
del min

NameError: name 'min' is not defined

In [76]:
min[1,3,2,88,22,11]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [75]:
x = 5
y = 7

sum = x + y
print(sum)

12

In [66]:
age = 17

if age > 18:
    print("Authorised")

In [67]:
age = 19

if age > 18:
    print("Authorised")

Authorised

In [79]:
mark = int(input("Enter marks : "))

if mark >= 45:     #yes ma dubai condition check garxa
    print("PASS")

if mark < 45: 
    print("FAIL")

Enter marks :  30

FAIL

In [80]:
x = int(input("Enter the value of x : "))
y = int(input("Enter the value of y : "))

if x > y :
    print("x is greater than y ")    

if y > x :
    print("y is greater than x")

Enter the value of x :  3
Enter the value of y :  2

x is greater than y

In [82]:
mark = int(input("Enter marks : "))

if mark >= 45:     #yes ma dubai condition check garxa  #paile if ma check garxa yadi yo condition meet hunxa vane pass print hunxa
    #navaye direct fail print hunxa
    print("PASS")

else: 
    print("FAIL")

Enter marks :  50

PASS

In [84]:
x = int(input("Enter the value of x : "))
y = int(input("Enter the value of y : "))

if x > y :
    print("x is greater than y ")    

else :
    print("y is greater than x")

Enter the value of x :  5
Enter the value of y :  3

x is greater than y

In [86]:
x = int(input("Enter the value of x : "))
y = int(input("Enter the value of y : "))

if x > y :
    print("x is greater than y ")   
    
elif x == y:
    print("x and y are equal")
    
else :
    print("y is greater than x")

Enter the value of x :  5
Enter the value of y :  5

x and y are equal

In [ ]:
if True:
    print("hello1")
elif True:
    print("hello2")
elif True :
    print("hello3")

In [88]:
x = int(input("enter the value of x : "))
y= int(input("enter the value of y : "))
z = int(input("enter the value of z : "))

if x > y and x > z:
    print('x is greatest')
elif y > x and y > z : 
    print('y is  greatest')
else:
    print('z is greatest' )

enter the value of x :  5
enter the value of y :  3
enter the value of z :  1

x is greatest

In [93]:
username = input("Enter the username : ")
password = input (" Enter the password : ")

if username == 'admin' and password == 'admin123' : 
   print("successfully logged in")  

else :
    print('log in failed')

Enter the username :  anj
 Enter the password :  abn

log in failed

In [3]:
username = input("Enter the username : ")
password = input (" Enter the password : ")
role = input("Enter the role : ")

if username == ('admin' and password == 'admin123') or (role == 'superadmin') : 
   print("successfully logged in")  

else :
    print('log in failed')

Enter the username :  admin
 Enter the password :  admin123
Enter the role :  anj

log in failed