In [4]:
import sqlite3

In [5]:
sqlite3.connect('python800.db')

In [6]:
con=sqlite3.connect('python800.db')

In [7]:
cur=con.cursor()

In [24]:
query = """
create table students (roll_no int, name varchar(50), address varchar(20))
"""

In [25]:
try:
    cur.execute(query)
except Exception as e:
    print(e)

In [26]:
# Insert into table_name(column_1, column_2,...)

In [27]:
query = """
insert into students(roll_no, name, address)
values
(1, 'Kshitiz', 'Patan'),
(2, 'Anil', 'Dang'),
(3,'Anjali', 'Sarlhai'),
(4, 'Bhabesh', 'Bhaktapur')
"""

In [28]:
cur.execute(query)

#Read the DATA/ select Statement

syntax:
````Sql
select*from table_name
select column_name_1, column_name_2, ....... from table_name

In [30]:
query = 'select*from students'
cur.execute(query).fetchall()

[(1, 'Kshitiz', 'Patan'),
 (2, 'Anil', 'Dang'),
 (3, 'Anjali', 'Sarlhai'),
 (4, 'Bhabesh', 'Bhaktapur')]

In [32]:
cur.execute('select name,address from students').fetchall()

[('Kshitiz', 'Patan'),
 ('Anil', 'Dang'),
 ('Anjali', 'Sarlhai'),
 ('Bhabesh', 'Bhaktapur')]

In [33]:
cur.execute('select roll_no from students').fetchall()

[(1,), (2,), (3,), (4,)]

In [ ]:
# Where clause/ Conditional

In [34]:
query = """
select name from students
where
roll_no = 2
"""

In [35]:
cur.execute(query).fetchall()

[('Anil',)]

In [36]:
query = """
select address from students
where
roll_no = 2
"""

In [38]:
cur.execute(query).fetchall()

[('Dang',)]

In [46]:
#value is case sensetive , #lower(..)garyo vane case sensetive hatxa

In [47]:
query = """
select address from students
where
lower(name) = 'anil'
"""

In [48]:
cur.execute(query).fetchall()

[('Dang',)]

#update database
````sql
update table_name
set column_name_n = value
where
condition

In [49]:
query = """
update students
set name = 'Kshitiz Regmi'
where
roll_no = 1 
"""

In [51]:
cur.execute(query)

In [53]:
cur.execute("select*from students").fetchall()

[(1, 'Kshitiz Regmi', 'Patan'),
 (2, 'Anil', 'Dang'),
 (3, 'Anjali', 'Sarlhai'),
 (4, 'Bhabesh', 'Bhaktapur')]

delete statement in sql

In [54]:
cur.execute("delete from students where roll_no = 1 ")

In [56]:
cur.execute('select*from students').fetchall()

[(2, 'Anil', 'Dang'), (3, 'Anjali', 'Sarlhai'), (4, 'Bhabesh', 'Bhaktapur')]